<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
           <configurations>
               <configuration
                   name="SitecoreCognitiveServices.Feature.OleChat"
		           description="Configuration for the Ole Chat Feature"
                   dependencies="SitecoreCognitiveServices.Foundation.SCSDK">
                   <targetDataStore
                       physicalRootPath="$(CognitiveSerializationRootPath)Feature\OleChat\code\serialization\"
                       type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                       useDataCache="false"
                       singleInstance="true" />
                   <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                     <include name="RibbonStrips" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Cognitive/Chat" />
                     <include name="RibbonChunks" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Chat" />
                     <include name="Launchpad-Buttons" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Tools/Ole" />
                     <include name="Templates" database="master" path="/sitecore/templates/Sitecore Cognitive Services/Features/Ole Chat" />
                     <include name="System-Settings" database="master" path="/sitecore/system/Modules/Sitecore Cognitive Services/Ole Chat" />
                     <include name="Editor-Tabs" database="core" path="/sitecore/content/Applications/Content Editor/Editors/Sitecore Cognitive Services/Ole Chat" />
                   </predicate>
                   <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
                   <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
                </configuration>
            </configurations>
		</unicorn>
	</sitecore>
</configuration>
