@using SitecoreCognitiveServices.Feature.OleChat.Statics
@model bool

@{
    ViewBag.Title = "Cognitive Services: Backup Ole";
    Layout = "~/Areas/SitecoreCognitiveServices/Views/Common/CognitiveLayout.cshtml";
}

<link href="/Areas/SitecoreCognitiveServices/Assets/css/SitecoreCognitiveServices.Feature.OleChat.css?x=@(new System.Random().Next())" rel="stylesheet" type="text/css" />

<div class="frame backup-frame">
    @if (Model)
    {
        <div class="result-success">
            @Translator.Text("Chat.Backup.Success")
        </div>
    }
    else
    {
        <div class="result-failure">
            @Translator.Text("Chat.Backup.Failed")
        </div>
    }
</div>